/* @import "./base.css"; */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary: #eaedf5;
  --accent: #7c94d2;
  --bg: white;
  --text: #283453;
}

@layer base {
  :root {
    --accent-color: 124 148 210;
    --bg-color: 255 255 255;
    --text-color: 40 52 83;
    --accent-light: 137 164 233;
    --light-grey: 234 237 245;
    --light-dark: 52 57 69;
    --hr-odd: 245 234 240;
    --dark-bg: 29 33 42;
    --dark-text: 231 236 248;
    --hr-dark-odd: 64 60 64;
  }
}
/* colors: {
        accentColor: "#7C94D2",
        bgColor: "white",
        textColor: "#283453",
        accentLight: "#89a4e9",
        lightGrey: "#EAEDF5",
        lightDark: "#343945",
        hrOdd: "#F5EAF0",
        darkBg: "#1D212A",
        darkText: "#E7ECF8",
        hrDarkOdd: "#403C40",
      }, */

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #343945;
    --bg: #1d212a;
    --text: #e7ecf8;
  }
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--secondary);

  /* scrollbar-gutter: stable; */
}

.scroll-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--secondary);
  border-radius: 2rem;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #7c94d2;
  border-radius: 2rem;
}

.glass progress {
  transform: rotate(-90deg);
  transform-origin: center;
}

progress::-moz-progress-bar {
  background-color: #7c94d2;
}

blockquote {
  position: relative;
  margin-left: 1rem;
  margin-block: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-left: 0.2rem solid var(--accent);
  text-indent: 1.2rem;
  text-align: justify;
}

blockquote::before {
  content: "«";
  color: var(--accent);
  vertical-align: super;
  font-size: 2.7rem;
  padding: 0.2rem;
  font-weight: bold;
  position: absolute;
  top: -1.2rem;
  left: -1rem;
  font-size: 2.7rem;
  font-size: 2.7rem;
  /* filter: drop-shadow(0.2rem 0.2rem var(--text)); */
}

blockquote::after {
  content: "»";
  vertical-align: sub;
}

/* 
accentColor: "#7C94D2",
        bgColor: "white",
        textColor: "#283453",
        accentLight: "#89a4e9",
        accentDark: "343945",
        lightGrey: "#EAEDF5",
        darkBg: "#1D212A",
        darkText: "#E7ECF8", */
